<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" type="text/css" href="static/style.css">
    <meta charset="UTF-8"> <title>Title</title>
    <style>
        h2 {text-align: center;}
        h1 {text-align: center;}
        div {text-align: center;}
    </style>
</head>
<body data-new-gr-c-s-check-loaded="14.1012.0" data-gr-ext-installed="" style="background-color:whitesmoke"  >
    <h1> <u>E-Ticket Status</u></h1>
            <br>
    <h2> Name: {{var}} </h2>
    <h2> Email Id: {{var1}} </h2>
    <h2> Aadhaar Number: {{var2}} </h2>
    <h2> From: {{var4}}, {{var3}} </h2>
    <h2> To: {{var6}}, {{var5}} </h2>
    <h2> PhoneNumber: {{var7}}</h2>
    <h2> Date of travel: {{var8}} </h2>
    <h2> Status: {{var9}} </h2>
</body>
</html>